<?xml version="1.0" encoding="utf-8"?>
<ProjectOptions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" identifier="CS">
  <GeneralOptions>
    <VersionComponent xsi:nil="true" />
    <Storage>Project</Storage>
    <AssemblyInfoVersionIdentifier>AssemblyVersion</AssemblyInfoVersionIdentifier>
    <AssemblyInfoVersionInformationalSeparator>-</AssemblyInfoVersionInformationalSeparator>
    <SaveBackVersionInAllIdentifiers>false</SaveBackVersionInAllIdentifiers>
    <HandleIncrementOverflow>false</HandleIncrementOverflow>
  </GeneralOptions>
  <MsBuildOptions>
    <Usage>
      <Optimize useage="None" value="false" />
      <DebugConstants useage="None" />
      <DebugInfo useage="None" />
    </Usage>
  </MsBuildOptions>
  <NuGetOptions>
    <GeneralOptions>
      <DependencyUsage>Any</DependencyUsage>
      <WillCreateTargetSpecificDependencyGroups>false</WillCreateTargetSpecificDependencyGroups>
    </GeneralOptions>
    <NuSpecOptions>
      <Metadata>
        <Id use="false" saveBack="false" />
        <Version use="false" saveBack="false" />
        <Title use="false" saveBack="false" />
        <Authors use="false" saveBack="false" />
        <Owners>false</Owners>
        <Description use="false" saveBack="false" />
        <ReleaseNotes>false</ReleaseNotes>
        <Summary>false</Summary>
        <Language use="false" saveBack="false" />
        <ProjectUrl>false</ProjectUrl>
        <IconUrl>false</IconUrl>
        <LicenseUrl>false</LicenseUrl>
        <Copyright use="false" saveBack="false" />
        <Tags>false</Tags>
        <RequireLicenseAcceptance>false</RequireLicenseAcceptance>
        <DevelopmentDependency>false</DevelopmentDependency>
        <Dependencies>false</Dependencies>
      </Metadata>
      <Files useFromSettings="false" />
    </NuSpecOptions>
  </NuGetOptions>
</ProjectOptions>